/venv
__pycache__/
*.pyc
.env
results.csv
Contacts of Facility Licenses results.csv
OET institutes results.csv
Nursing Training Hospitals results.csv
results_RN_IND_emails.csv
UAE hospital results.csv
OT_emails_vresults.csv
OT_UAE_emails_vresults.csv
RN_AUS_emails_vresults.csv
RN_emails-v2_vresults.csv
out.csv
pod_mental_emails-UK (2)_vresults.csv
pod_mental_emails-UK (2)_vresults - Copy.csv
test.py
VP_HR_hospitals_vresults_test.csv
VP_HR_hospitals_vresults.csv
/Inserted
/To_insert
test.py
cleaner.py
worldcitiespop.csv
Email_campaign.py